<div class="">
	<mat-form-field [formGroup]="group">
		<input
			matInput
			[formControlName]="field.name"
			[placeholder]="field.name"
			(keyup)="onNumberChange($event)"
			(blur)="onBlur()"
        />
		<mat-icon
			*ngIf="field.description"
			color="primary"
			matSuffix
			matTooltip="{{ field.description }}"
			>help</mat-icon
		>
		<mat-hint *ngIf="hasError">
            Please input number or decimal digit
        </mat-hint>
		<ng-container
			*ngFor="let validation of field.validations"
			ngProjectAs="mat-error"
		>
			<mat-error
				*ngIf="group.get(field.name).hasError(validation.name)"
				>{{ validation.message }}</mat-error
			>
		</ng-container>
	</mat-form-field>
</div>
