<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let item of listProject">
    <mat-card class="kt-card">
      <mat-card-header>
        <div mat-card-avatar class="kt-header-image"></div>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{item.image}} alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="text-justify">
          {{item.description | truncate : 150 : true}}
      </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="mat-raised-button mat-accent">DETAIL</button>
        <button mat-button class="mat-button mat-warn">REMOVE</button>
      </mat-card-actions>
    </mat-card>
  </div>
    <div class="col-md-3 col-sm-6 col-xs-12" (click)="handleCardListclick()">
      <mat-card class="kt-card kt-card--height-100 kt-card--border kt-cursor-pointer">
        <div class="kt-icon-center">
          <p>New Solution</p>
          <i class="flaticon2-plus"></i>
        </div>
      </mat-card>
    </div>
</div>
