<div class="">
	<ng-container [ngSwitch]="field.fieldType">
		<ng-container *ngSwitchCase="'single'">
			<mat-form-field [formGroup]="group" class="kt-margin-r-20">
				<mat-label>{{ field.label }}</mat-label>
				<mat-select
					[placeholder]="field.label"
					[formControlName]="field.name"
				>
					<mat-option
						*ngFor="let item of field.options"
						[value]="item.value"
						>{{ item.label }}
					</mat-option>
				</mat-select>
				<mat-icon
					*ngIf="field.description"
					color="primary"
					matSuffix
					matTooltip="{{ field.description }}"
					>help</mat-icon
				>
				<ng-container
					*ngFor="let validation of field.validations"
					ngProjectAs="mat-error"
				>
					<mat-error
						*ngIf="group.get(field.name).hasError(validation.name)"
						>{{ validation.message }}</mat-error
					>
				</ng-container>
			</mat-form-field>
		</ng-container>

		<ng-container *ngSwitchCase="'multiple'">
			<mat-form-field [formGroup]="group" class="kt-margin-r-20">
				<mat-select
					[placeholder]="field.label"
					[formControlName]="field.name"
					multiple
				>
					<mat-option
						*ngFor="let item of field.options"
						[value]="item.value"
						>{{ item.label }}
					</mat-option>
				</mat-select>
				<mat-icon
					*ngIf="field.description"
					color="primary"
					matSuffix
					matTooltip="{{ field.description }}"
					>help</mat-icon
				>
				<ng-container
					*ngFor="let validation of field.validations"
					ngProjectAs="mat-error"
				>
					<mat-error
						*ngIf="group.get(field.name).hasError(validation.name)"
						>{{ validation.message }}</mat-error
					>
				</ng-container>
			</mat-form-field>
		</ng-container>

		<ng-container *ngSwitchCase="'radio'">
			<!-- <mat-form-field [formGroup]="group" class="kt-margin-r-20">
				<mat-label>{{ field.label }}</mat-label>
				<mat-select
					[placeholder]="field.label"
					[formControlName]="field.name"
					multiple
					(selectionChange)="handleChangeTwoOptions()"
				>
					<mat-option
						*ngFor="let item of field.options"
						[value]="item.value"
						>{{ item.label }}
					</mat-option>
				</mat-select>
				<mat-icon
					*ngIf="field.description"
					color="primary"
					matSuffix
					matTooltip="{{ field.description }}"
					>help</mat-icon
				>
				<ng-container
					*ngFor="let validation of field.validations"
					ngProjectAs="mat-error"
				>
					<mat-error
						*ngIf="group.get(field.name).hasError(validation.name)"
						>{{ validation.message }}</mat-error
					>
				</ng-container>
			</mat-form-field> -->
			<div class="demo-full-width margin-top" [formGroup]="group">
					<label class="radio-label-padding pr-3">{{ field.label }}:</label>
					<mat-radio-group [formControlName]="field.name">
						<mat-radio-button
							*ngFor="let item of field.options; let i = index"
							[value]="item.value"
							[checked]="item.value === field.options[0].value"
							>{{ item.label }}</mat-radio-button
						>
					</mat-radio-group>
				</div>
		</ng-container>
	</ng-container>
</div>
