<kt-portlet>
	<kt-portlet-header
		[title]="getComponentTitle()"
		[class]="'kt-portlet__head--lg'"
		[viewLoading$]="loading$"
	>
		<ng-container ktPortletTools>
			<a
				[routerLink]="['../../solution']"
				class="btn btn-secondary kt-margin-r-10"
				mat-raised-button
				matTooltip="Back to the users list"
			>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<a
				href="javascript:;"
				class="btn btn-secondary kt-margin-r-10"
				(click)="reset()"
				[disabled]="selectedTab !== 0"
				mat-raised-button
				matTooltip="Reset changes"
			>
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>
			<a
				*ngIf="!isShowFormEdit"
				href="javascript:;"
				class="btn btn-secondary kt-margin-r-10"
				(click)="onShowFormEdit(true)"
				mat-raised-button
				matTooltip="Edit solution"
			>
				<i class="la la-edit"></i>
				<span class="kt-hidden-mobile">Edit</span>
			</a>
			<a
				*ngIf="isShowFormEdit"
				href="javascript:;"
				class="btn btn-secondary kt-margin-r-10"
				(click)="onShowFormEdit(false)"
				mat-raised-button
				matTooltip="Cancel edit solution"
			>
				<i class="la la-remove"></i>
				<span class="kt-hidden-mobile">Cancel</span>
			</a>
			<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">
					Save & Exit
				</button>
				<button mat-menu-item color="primary">Save & Duplicate</button>
				<button mat-menu-item color="primary" (click)="onSumbit(false)">
					Save & Continue
				</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon la la-cube"></i>
					Basic info
				</ng-template>
				<ng-template matTabContent>
					<!--Begin::FormEdit-->
					<ng-container *ngIf="solution && isShowFormEdit">
						<div class="col-md-6 mx-auto">
							<form
								class="kt-form"
								novalidate
								(ngSubmit)="onSubmit($event)"
								[formGroup]="rfSolution"
							>
								<div class="kt-portlet__body">
									<div
										class="kt-form__section kt-form__section--first"
									>
										<div
											class="form-group kt-form__group row"
										>
											<label
												class="col-lg-3 col-form-label"
												>Name:</label
											>
											<div
												class="col-lg-6 example-container"
											>
												<mat-form-field>
													<input
														matInput
														placeholder="Enter name"
														name="name"
														formControlName="name"
													/>
													<mat-hint align="start"
														>Please enter your
														solution name</mat-hint
													>
												</mat-form-field>
											</div>
										</div>
										<div
											class="form-group kt-form__group row"
										>
											<label
												class="col-lg-3 col-form-label"
												>Description:</label
											>
											<div
												class="col-lg-6 example-container"
											>
												<mat-form-field>
													<textarea
														rows="5"
														cols="30"
														matInput
														placeholder="Enter description"
														name="description"
														formControlName="description"
													></textarea>
													<mat-hint align="start"
														>Please enter
														description</mat-hint
													>
												</mat-form-field>
											</div>
										</div>

										<div
											class="form-group kt-form__group row"
										>
											<label
												class="col-lg-3 col-form-label"
												>Image:</label
											>
											<div
												class="col-lg-6 example-container"
											>
												<div
													class="kt-form__group"
													*ngIf="previewImage"
												>
													<img
														[src]="previewImage"
														height="200"
													/>
												</div>
												<input
													type="file"
													(change)="
														onSelectFile($event)
													"
													accept="image/x-png,image/jpeg"
												/>
												<mat-hint align="start"
													>Please choosen image
													solution</mat-hint
												>
											</div>
										</div>
									</div>
								</div>
								<div class="kt-portlet__foot">
									<div
										class="kt-form__actions kt-form__actions"
									>
										<div class="row">
											<div class="col-lg-3"></div>
											<div class="col-lg-6">
												<button
													[ngClass]="{
														'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading
													}"
													class="kt-button--width-100"
													type="submit"
													mat-raised-button
													color="accent"
													[disabled]="
														!rfSolution.valid
													"
												>
													Save
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</ng-container>
					<!--End::FormEdit-->

					<ng-container *ngIf="solution && !isShowFormEdit">
						<div class="row">
							<div class="col-md-6">
								<kt-sm-stepper></kt-sm-stepper>
							</div>
							<div class="col-md-6"></div>
						</div>
					</ng-container>
				</ng-template>
			</mat-tab>
			<mat-tab [disabled]="!user || !user.id">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-address-book"></i>
					User address
				</ng-template>
				<ng-template matTabContent>
					<!-- <kt-address [(addressSubject)]="addressSubject"></kt-address> -->
				</ng-template>
			</mat-tab>
			<mat-tab [disabled]="!user || !user.id">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fab fa-facebook"></i>
					Social Nerworks
				</ng-template>
				<ng-template matTabContent>
					<!-- <kt-social-networks [(socialNetworksSubject)]="soicialNetworksSubject"></kt-social-networks> -->
				</ng-template>
			</mat-tab>
			<mat-tab *ngIf="user" [disabled]="!user || !user.id">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-unlock"></i>
					User roles
				</ng-template>
				<ng-template matTabContent>
					<!-- <kt-user-roles-list [(rolesSubject)]="rolesSubject"></kt-user-roles-list> -->
				</ng-template>
			</mat-tab>
			<mat-tab *ngIf="user" [disabled]="!user || !user.id">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-exchange-alt"></i>
					Change password
				</ng-template>
				<ng-template matTabContent>
					<!-- <kt-change-password [userId]="user.id"></kt-change-password> -->
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
