ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

#file-label {
	display: inline-flex;
	vertical-align: middle;
	font-size: 12px;
	line-height: 18px;
	margin-top: 5px;
}

#file-label mat-icon {
	font-size: 18px;
	text-align: center;
}

#file-label a {
	cursor: pointer;
}

.process-bar-percent {
	position: absolute;
	top: 0;
	margin-left: 2px;
}
mat-progress-bar {
	height: 1.3rem;
}
.container-upload .customize-w-h-icon {
	height: 18px;
	width: 20px;
}
.mat-hint--f-size{
	font-size: 75%;
	padding-left: 10px;
	color: #ff4081
}
.example-margin{
	padding-right: 15px;
}