<form class="dynamic-form" [formGroup]="form" (submit)="onSubmit($event)">
	<ng-container *ngTemplateOutlet="content"></ng-container>
	<ng-template #content>
		<div
			cdkDropList
			(cdkDropListDropped)="drop($event)"
			class="example-list"
		>
			<div
				*ngFor="let field of fields"
				class="form-group kt-relative"
				cdkDrag
			>
				<!-- cdkDragPlaceholder  -->
				<div
					class="kt-form kt-form__group form-group example-custom-placeholder"
					*cdkDragPlaceholder
				></div>

				<div dynamicField [field]="field" [group]="form"></div>
				<kt-sticky-control
					[field]="field"
					(ondelete)="onDelete($event)"
				></kt-sticky-control>
			</div>
		</div>
	</ng-template>
</form>
