<div class="row">
	<div
		class="col-md-3 col-sm-6 col-xs-12 kt-padding-b-20"
		*ngFor="let item of items"
	>
		<mat-card class="kt-card">
			<mat-card-header>
				<!-- <div mat-card-avatar class="kt-header-image"></div> -->
				<mat-card-title>{{ item.name }}</mat-card-title>
				<mat-card-subtitle
					>Version: {{ item.version }}</mat-card-subtitle
				>
			</mat-card-header>
			<!-- <img
				mat-card-image
				src="{{ item.image }}"
				alt="Photo of a Shiba Inu"
			/> -->
			<mat-card-content>
				<!-- <p class="text-justify">Database : {{ item.databaseName }}</p> -->
				<mat-list role="list">
					<mat-list-item role="listitem">
						<span class="font-weight-bold">Owner </span>:
						{{ item.owner }}</mat-list-item
					>
					<mat-list-item role="listitem"
						><span class="font-weight-bold">Database </span>:
						{{ item.databaseName }}</mat-list-item
					>
				</mat-list>
			</mat-card-content>
			<mat-card-actions align="end">
				<button
					mat-button
					class="mat-raised-button mat-accent"
					(click)="handleNavigate(item)"
				>
					DETAIL
				</button>
				<button
					mat-button
					class="mat-button mat-warn"
					(click)="onRemove(item)"
				>
					REMOVE
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 kt-padding-b-20" (click)="handleCardListclick()">
		<mat-card
			class="kt-card kt-card--height-100 kt-card--border kt-cursor-pointer"
		>
			<div class="kt-icon-center">
				<p>New Solution</p>
				<i class="flaticon2-plus"></i>
			</div>
		</mat-card>
	</div>
</div>
