<div class="row">
	<div class="col-xl-3" *ngFor="let item of items">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="item.name">
				<!-- <ng-container ktPortletTools>
					<kt-context-menu02></kt-context-menu02>
				</ng-container> -->
			</kt-portlet-header>
			<kt-portlet-body>
				<mat-card class="kt-card">
					<mat-card-header>
						<!-- <mat-card-title>{{ item.name }}</mat-card-title> -->
						<mat-card-subtitle
							>Version: {{ item.version }}</mat-card-subtitle
						>
					</mat-card-header>
					<mat-card-content>
						<div class="row">
							<div class="col-md-12">
								<div class="kt-demo-icon">
									<div class="kt-demo-icon__preview">
										<i class="flaticon2-next"></i>
									</div>
									<div class="kt-demo-icon__class">
										<span class="kt-demo-icon__class--color"
											>Owner: &nbsp;</span
										>
										{{ item.owner }}
									</div>
								</div>
							</div>
						</div>
					</mat-card-content>
					<mat-card-actions align="end">
						<ul class="kt-sticky-toolbar kt-absolute-toolbar">
							<li
								class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success"
								id="kt_demo_panel_toggle"
								data-placement="left"
								matTooltip="Edit"
								(click)="onEdit(item)"
							>
								<a href="javascript:;" class=""
									><i class="flaticon2-edit"></i
								></a>
							</li>

							<li
								class="kt-sticky-toolbar__item kt-sticky-toolbar__item--success"
								id="kt_demo_panel_toggle"
								data-placement="left"
								(click)="handleNavigate(item)"
								matTooltip="Detail"
							>
								<a href="javascript:;" class=""
									><i class="flaticon2-browser"></i
								></a>
							</li>

							<li
								class="kt-sticky-toolbar__item kt-sticky-toolbar__item--brand"
								data-placement="left"
								(click)="onRemove(item)"
								matTooltip="Delete"
							>
								<a href="javascript:;" 
									><i class="flaticon2-trash"></i
								></a>
							</li>
						</ul>
					</mat-card-actions>
				</mat-card>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div
		class="col-md-3 col-sm-6 col-xs-12 kt-padding-b-20"
		(click)="handleCardListclick()"
	>
		<mat-card
			class="kt-card kt-card--height-100 kt-card--border kt-cursor-pointer"
		>
			<div class="kt-icon-center">
				<p>New Solution</p>
				<i class="flaticon2-plus"></i>
			</div>
		</mat-card>
	</div>
</div>
