<div class="row">
	<div class="kt-portlet">
		<div class="kt-portlet__head">
			<div class="kt-portlet__head-caption">
				<div class="kt-portlet__head-title">
					<span class="kt-portlet__head-icon kt-hide">
						<i class="la la-gear"></i>
					</span>
					<h3 class="kt-portlet__head-text">
						New Solution
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form
			class="kt-form"
			novalidate
			(ngSubmit)="onSubmit($event)"
			[formGroup]="rfSolution"
		>
			<div class="kt-portlet__body">
				<div class="kt-form__section kt-form__section--first">
					<div class="form-group kt-form__group row">
						<label class="col-lg-3 col-form-label">Name:</label>
						<div class="col-lg-6 example-container">
							<mat-form-field>
								<input
									matInput
									placeholder="Enter name"
									name="name"
									formControlName="name"
									[attr.disabled]="loading"
								/>
								<mat-hint align="start"
									>Please enter your solution name</mat-hint
								>
							</mat-form-field>
						</div>
					</div>
					<div class="form-group kt-form__group row">
						<label class="col-lg-3 col-form-label">Owner:</label>
						<div class="col-lg-6 example-container">
							<mat-form-field>
								<mat-label>Owner</mat-label>
								<mat-select formControlName="owner" [attr.disabled]="loading">
									<mat-option
										*ngFor="let owner of owners"
										[value]="owner.value"
									>
										{{ owner.viewValue }}
									</mat-option>
								</mat-select>
								<mat-hint align="start"
									>Please pick up your owner</mat-hint
								>
							</mat-form-field>
						</div>
					</div>

					<div class="form-group kt-form__group row">
						<label class="col-lg-3 col-form-label"
							>Database Name:</label
						>
						<div class="col-lg-6 example-container">
							<mat-form-field class="example-full-width">
								<input
									matInput
									placeholder="Enter database name"
									formControlName="databaseName"
									[attr.disabled]="loading"
								/>
								<mat-hint align="start"
									>Please enter your database name</mat-hint
								>
							</mat-form-field>
						</div>
					</div>

					<div class="form-group kt-form__group row">
						<label class="col-lg-3 col-form-label">Version:</label>
						<div class="col-lg-6 example-container">
							<mat-form-field class="example-full-width">
								<input
									matInput
									placeholder="Enter version solution"
									formControlName="version"
									[attr.disabled]="loading"
								/>
								<mat-hint align="start"
									>Please enter your version solution
								</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
			<div class="kt-portlet__foot">
				<div class="kt-form__actions kt-form__actions">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<button
								[ngClass]="{
									'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading
								}"
								class="kt-button--width-100"
								type="submit"
								mat-raised-button
								color="accent"
								[disabled]="!rfSolution.valid || loading"
							>
								Submit</button
							>&nbsp;
							<button
								class="kt-button--width-100"
								mat-raised-button
								type="reset"
								(click)="handleCancel()"
								[disabled]="loading"
							>
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->
	</div>
</div>
