.example-container {
    display: flex;
    flex-direction: column;
}
.example-full-width {
    width: 100%;
}

.kt-checkbox-inline > mat-checkbox {
    padding-right: 20px;
}
.kt-button--width-100{
    min-width: 100px;
}