<div class="container-fluid" cdkDropListGroup>
	<!-- I can use kt-notice selector -->
	<div class="alert fade show" role="alert">
		<div class="alert-text">
			<div class="kt-form__actions kt-form__actions kt-align-right">
				<a
					(click)="backClicked()"
					class="btn btn-secondary kt-margin-r-10"
					mat-raised-button
					matTooltip="Back to the users list"
				>
					<i class="la la-arrow-left"></i>
					<span class="kt-hidden-mobile">Back</span>
				</a>
				<button mat-raised-button color="primary">Submit</button>&nbsp;
				<button mat-raised-button type="reset">
					Reset
				</button>
			</div>
		</div>
	</div>
	<!-- I can use kt-notice selector -->
	<div class="row">
		<div class="col-md-3">
			<mat-accordion>
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Basic
						</mat-panel-title>
						<!-- <mat-panel-description>
							Choosen component
						</mat-panel-description> -->
					</mat-expansion-panel-header>
					<div
						cdkDropList
						[cdkDropListData]="todo"
						class="left-list"
						(cdkDropListDropped)="drop($event)"
						[cdkDropListEnterPredicate]="noReturnPredicate"
					>
						<div
							class="example-box"
							*ngFor="let item of todo"
							cdkDrag
						>
							<div
								class="example-custom-placeholder"
								*cdkDragPlaceholder
							></div>
							{{ item.valueView }}
						</div>
					</div>
					<!-- tree data in panel -->
					<!-- <kt-tree></kt-tree> -->
					<!-- tree data in panel -->
				</mat-expansion-panel>

				<mat-expansion-panel
					(opened)="panelOpenState = true"
					(closed)="panelOpenState = false"
				>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Advanced
						</mat-panel-title>
						<!-- <mat-panel-description>
							Choosen component
						</mat-panel-description> -->
					</mat-expansion-panel-header>

					<p>I'm visible because I am open</p>
				</mat-expansion-panel>
			</mat-accordion>
		</div>

		<div class="col-md-9">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-caption">
						<div class="kt-portlet__head-title">
							<span class="kt-portlet__head-icon kt-hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="kt-portlet__head-text">
								Preview Layout
							</h3>
						</div>
					</div>
				</div>
				<!--Begin::Form-->
				<form class="kt-form">
					<div class="kt-portlet__body">
						<div class="kt-form__section kt-form__section--first">
							<div class="form-group kt-form__group">
								<div
									cdkDropList
									[cdkDropListData]="regConfig"
									class="example-list"
									(cdkDropListDropped)="
										dropFromPreview($event)
									"
								>
									<!-- <div
										class="example-box"
										*ngFor="let item of regConfig; let first = first; let i = index"
										cdkDrag
									> -->
									<dynamic-form
										[fields]="items"
										(submit)="submit($event)"
									>
									</dynamic-form>
								</div>
								<!-- </div> -->
							</div>
						</div>
					</div>
				</form>
				<!--End::Form-->
			</div>
		</div>
	</div>
</div>
