<ng-container [ngSwitch]="data.type">
	<!-- input component -->
	<ng-container *ngSwitchCase="'input'">
		<kt-text-field
			[dialogRefData]="dialogRefData"
			[valueEdit]="valueEdit"
			(textComponentSubmit)="onSubmit($event)"
		></kt-text-field>
	</ng-container>
	<!-- input component -->
	<!-- select component -->
	<ng-container *ngSwitchCase="'select'">
		<kt-select-option
			[dialogRefData]="dialogRefData"
			[valueEdit]="valueEdit"
			(selectComponentSubmit)="onSubmit($event)"
		></kt-select-option>
	</ng-container>
	<!-- select component -->
	<!-- number component -->
	<ng-container *ngSwitchCase="'number'">
		<kt-number-field
			[dialogRefData]="dialogRefData"
			[valueEdit]="valueEdit"
			(numberComponentSubmit)="onSubmit($event)"
		></kt-number-field>
	</ng-container>
	<!-- number component -->
	<!-- lookup component -->
	<ng-container *ngSwitchCase="'lookup'">
		<kt-look-up
			[dialogRefData]="dialogRefData"
			[valueEdit]="valueEdit"
			(lookupComponentSubmit)="onSubmit($event)"
		></kt-look-up>
	</ng-container>
	<!-- fupload component -->
	<ng-container *ngSwitchCase="'fupload'">
		<kt-fupload-image
			[dialogRefData]="dialogRefData"
			[valueEdit]="valueEdit"
			(fuploadComponentSubmit)="onSubmit($event)"
		></kt-fupload-image>
	</ng-container>
	<!-- lookup component -->
	<!-- money component -->
	<ng-container *ngSwitchCase="'money'">
		<kt-money
			[dialogRefData]="dialogRefData"
			[valueEdit]="valueEdit"
			(moneyComponentSubmit)="onSubmit($event)"
		></kt-money>
	</ng-container>
	<!-- money component -->
	<!-- button component -->
	<ng-container *ngSwitchCase="'button'">
		<kt-c-button
			[dialogRefData]="dialogRefData"
			[valueEdit]="valueEdit"
			(cButtonComponentSubmit)="onSubmit($event)"
		></kt-c-button>
	</ng-container>
	<!-- button component -->
	<ng-container *ngSwitchDefault>
		Please check agian! dialog ref has not data.
	</ng-container>
</ng-container>
