/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/base/vendors.bundle.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

.kt-portlet,
.kt-form {
	position: relative;
}

/* 
    Modify kt-card
*/
.row {
	.kt-card--border {
		border: 2px dashed #ddd;
		box-shadow: unset;
	}
	& .kt-cursor-pointer {
		cursor: pointer;
	}
	& .kt-card {
		max-width: 400px;
		min-height: 265px;
		height: 100%;
		& .kt-icon-center {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			flex-direction: column;
			& i {
				font-size: 2.5rem;
				color: #ddd;
			}
			& p {
				font-size: 2rem;
				font-weight: 600;
				opacity: 0.5;
				margin-bottom: 0;
			}
		}
		& .mat-card-actions:last-child {
			margin-bottom: 0;
		}
	}
}
/* 
    Global variable
*/

.kt-padding-b-20 {
	padding-bottom: 20px;
}
.kt-margin-l-10 {
	margin-left: 10px;
}
.kt-padding-l-10 {
	padding-left: 10px;
}
.kt-padding-l-5 {
	padding-left: 5px;
}
.kt-padding-l-20 {
	padding-left: 20px;
}
.kt-margin-l-20 {
	margin-left: 20px;
}
.kt-margin-r-20 {
	margin-right: 20px;
}

.demo-full-width {
	width: 100%;
}

/*
	content for router-outlet
*/
.kt-content {
	min-height: 100vh;
}
/* 
    Footer 
*/
.kt-footer {
	position: relative;
	z-index: 99;
}

.mat-dialog-container {
	& .kt-portlet__body {
		& .kt-form__section {
			.form-group {
				justify-content: center;
				align-items: center;
			}
		}
	}
}

/*
	modify toolbar
*/
.kt-absolute-toolbar {
	width: 100% !important;
	position: absolute !important;
	bottom: 0 !important;
	top: unset !important;
	justify-content: flex-end !important;
	align-items: center !important;
	flex-direction: row !important;
}
.row .kt-demo-icon {
	padding: 0;
	margin-bottom: 10px;
}
.row .kt-demo-icon .kt-demo-icon__preview i {
	font-size: 1rem !important;
}
.kt-demo-icon__class--color {
	color: #000;
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}
.example-full-width {
	width: 100%;
}
.example-additional-selection {
	opacity: 0.75;
	font-size: 0.75em;
}

.kt-portlet .kt-portlet__foot--border-top-0 {
	border-top: 0;
}
.kt-portlet .kt-portlet__foot {
	border-top: unset !important;
}
.kt-form .kt-form__actions--padding-left-0 {
	padding-left: 0 !important;
}
.form-group-flex {
	display: flex;
}

.cursor-pointer {
	cursor: pointer;
}
