.dynamic-form {
	padding-right: 50px;
}
.example-custom-placeholder {
	background: #ccc;
	border: dotted 2px #999;
	min-height: 41px;
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-preview {
	box-sizing: border-box;
	background: #eee;
}
.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
	border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
